# Please make a copy of this file and rename it to .env
# Change default values to your valid credentials
DB_USER_NAME=your_user_name
DB_USER_PASS=your_user_pass

# path to configuration, just copy it, no need to change it
NODE_CONFIG_DIR=./src/config

# debugger log
DEBUG=app:*,middleware:*,db:*
DEBUG_COLORS=true
