{
	"env": {
		"browser": true,
		"commonjs": true,
		"es6": true,
		"mocha": true,
		"node": true
	},
	"globals": {
		"someGlobalVariable": true
	},
	"parserOptions": {
		"ecmaVersion": 2018
	},
	"rules": {
		"no-undef": 1
	}
}
