# IDE
.vscode
.idea

# Logs
logs
*.log
npm-debug.log*
coverage

# Dependency directories
node_modules/

# sencitive data
start.local.app.sh
start.test.sh
docker-compose.yml
init-mongo.js

# configs
.jshintignore
.jshintrc
