# To start testing create start.test.sh file and set environment variables properly

# Application host
export HOST=127.0.0.1
# Application port
export PORT=3000

export DB_HOST=127.0.0.1
export DB_PORT=27017
export DB_USER_NAME=YOUR_USER
export DB_USER_PASS=YOUR_PASS
export DB_NAME=YOUR_TEST_DB_NAME

echo Starting tests...;
npm t;
