version: 2
services:
  database:
    image: mongo:latest
    container_name: mongodb
    entrypoint:
      - MONGO_INITDB_DATABASE=playground
      - MONGO_INITDB_ROOT_USERNAME=YOUR_USER
      - MONGO_INITDB_ROOT_PASSWORD=YOUR_PASS
    volumes:
      - YOUR_PATH/mongoVolume:/data/db
      - YOUR_PATH/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js
    ports:
      - '27017-27019:27017-27019'
